{% extends 'layout.html'%} <!--Template For Logged In Users-->

{% block title %}Home{% endblock %}

<!-- Also '%' allows for operations and inheritence in Jinja Code-->
{% block content %}
<h2>Favorite Page</h2>
<p>Welcome back, {{ username }}!</p>

<!--My Favorite Seller Section-->
<form action="{{ url_for('favorite')}}" method="post">
        <div class="form-group">
            <label>
               Choose For Favorite Sellers:
            </label>
        </div>
    <input type="submit" value="Search"/>
</form>

<div class="container1">
    <table bgcolor="black" width="700" class="centered-table1">
        <tr bgcolor="grey">
            <th width="100">Username</th>
            {% for item in users %}
        <tr bgcolor="#d3d3d3" align="center" class="table-row">
            <td>{{ item.username }} </td>
        </tr>
        {% endfor %}
    </table>
</div>


<form action="{{ url_for('favSubmit')}}" method="post">
    <fieldset>
        <div class="form-group">
            <label for="favorite">Submit a favorite user:  <input id="favorite" type="text" name="favorite" required></label>
        </div>
    </fieldset>
    <input type="submit" value="Submit"/>
</form>

<form action="{{ url_for('favDelete')}}" method="post">
    <fieldset>
        <div class="form-group">
            <label for="favDelete">Delete a favorite user:  <input id="favDelete" type="text" name="favDelete" required></label>
        </div>
    </fieldset>
    <input type="submit" value="Delete"/>
</form>

<!-- My Favorite Item Section -->
<br><br>


<form action="{{ url_for('favItem')}}" method="post">
        <div class="form-group">
            <label>
                Choose For Favorite Item(s):
            </label>
        </div>
    <input type="submit" value="Search"/>
</form>

<div class="container3">
    <table bgcolor="black" width="700" class="centered-table1">
        <tr bgcolor="grey">
            <th width="100">Item ID</th>
            <th width="100">Date Of Creation</th>
            <th width="100">Title</th>
            <th width="100">Description</th>
            <th width="100">Category</th>
            <th width="100">Price</th>
            {% for item in items %}
        <tr bgcolor="#d3d3d3" align="center" class="table-row">
            <td>{{ item.item_id }} </td>
            <td>{{ item.date_created }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<form action="{{ url_for('favSubmitItem')}}" method="post">
    <fieldset>
        <div class="form-group">
            <label for="favSubmitItem">Submit a favorite item:  <input id="favSubmitItem" type="text" name="favSubmitItem" required></label>
        </div>
    </fieldset>
    <input type="submit" value="Submit"/>
</form>

<form action="{{ url_for('favDeleteItem')}}" method="post">
    <fieldset>
        <div class="form-group">
            <label for="favDeleteItem">Delete a favorite item:  <input id="favDeleteItem" type="text" name="favDeleteItem" required></label>
        </div>
    </fieldset>
    <input type="submit" value="Delete"/>
</form>
<br><br>

{% endblock %}