{% extends 'layout.html'%} <!--Template For Logged In Users-->

{% block title %}Home{% endblock %}

<!-- Also '%' allows for operations and inheritence in Jinja Code-->
{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>


<form action="{{ url_for('insert') }}" method="post">
    <fieldset>
        <div class="form-group">
            <label for="item">Title:</label>
            <input id="item" type="text" placeholder="Smartphone" name="item" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input id="description" type="text" name="description" required>
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <input id="category" type="text" name="category" required>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input id="price" type="text" name="price" required>
        </div>
    </fieldset>
    <input type="submit" value="Submit">
</form>

<div id="msg" style="display: none;">
    <p>{{ msg }}</p>
</div>

<form action="{{ url_for('home')}}" method="post">
    <fieldset>
        <div class="form-group">
            <label for="search">Category:  <input id="search" name="search" type="text" required></label>
        </div>
    </fieldset>
    <input type="submit" value="Search"/>
</form>

<!-- JavaScipt code to control the pop-up -->
<script>
    //Function to display a successful submission pop-up
    function showPopup(message){
    const popup = document.getElementById('msg');
    popup.style.display = 'block';
    popup.innerHTML = message;
    }
</script>


{% endblock %}